/* .title {
    color: blue;
}
.article-name {
    color: purple;
}
.title-1, .title-2, .p-1, .p-2 {
    color: blue;
}
.paragraph {
    background-color: burlywood;
}
.btn-primary {
    color: aqua;
    background-color: blue;
    border-radius: 10px;
}
.btn-secondary {
    color: purple;
    background-color: yellow;
    border-radius: 3px;
}
.btn-danger {
    color: red;
    background-color: black;
    border-radius: 5px;
} */
 /* :root {
    --kokos: #4345FD;
 }
 p {
    color: var(--kokos)
 } */
:root {
    --primary-color: #1488ad;
    --secondary-color: #54622f;
    --text-color: #69df12;
}
h1 {
    color: var(--primary-color);
}
h2 {
    color: var(--secondary-color);
}
p {
    color: var(--text-color);
}